<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eum ipsum
      iusto molestias possimus cum velit quas consequuntur harum explicabo.
    </p>
  </header>
  <div class="card card--secondary">
    <header class="card__header">Title</header>
    <div class="card__body"></div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla inventore
    pariatur, blanditiis eligendi voluptatum molestias distinctio sint
    voluptatibus odio libero.
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eum ipsum
      iusto molestias possimus cum velit quas consequuntur harum explicabo.
    </p>
  </div>
</section>
