<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon-container">
      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="images/parampashkulify.svg#chevron"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non ratione odio
    consectetur totam nam quia, aut laborum quo quisquam voluptatem deserunt
    animi repellat voluptate esse possimus ea, quidem unde. Ullam itaque quas
    iusto. Cupiditate ut, dolorem optio tenetur illum tempora! Fuga, iure. Quod,
    accusantium quis et recusandae tenetur suscipit quasi.
  </div>
</div>
